@import '_colors';
@import '_margins';

body {
  background: $white;
}

#canvas {
  position: absolute;
  left: 0;
  top: $margin;
  margin: $margin;
  background: $black;
  border: thin inset $blue;
  cursor: pointer;
}

.red {
  color: $red;
}

.green {
  color: $green;
}